body {
  background: radial-gradient(
    275px at -14% 125%,
    rgb(255, 255, 255) 0%,
    rgb(244, 178, 216) 100.7%
  );
}

h1 {
  font-size: 50px;
  font-weight: bolder;
  text-align: center;
}

h2 {
  text-align: center;
  background: #0d0d0e;
  border-radius: 50px;
  color: #ffffffff;
  border: 1px solid #0d0d0e;
  margin: 20px auto;
  padding: 15px 20px;
}

ul {
  list-style-type: none;
  text-align: center;
  margin: 12px 0;
  padding: 0;
}

li {
  display: inline-block;
  margin-right: 20px;
}

img {
  box-shadow: 5px 5px 10px rgb(240, 60, 228);
  display: block;
  margin: 0 auto;
  width: 500px;
}

.row {
  display: flex;
}

.column {
  flex: 40%;
  padding: 10px;
}

p {
  font-size: 20px;
  text-align: left;
  line-height: 1.5;
}

a {
  font-size: 20px;
}

button {
  background: #0b0b0b;
  color: #ede2ee;
  display: block;
  font-size: 20px;
  margin: 30px auto;
  padding: 20px 30px;
  border: 1px solid;
  border-radius: 40px;
  box-shadow: 5px 5px 10px rgb(180, 177, 177);
  transition: all 150ms ease-in-out;
}

Button:hover {
  background: #b40a8d;
  color: #fff;
  cursor: pointer;
}

h3 {
  text-align: center;
}
